body {
  margin: 0;
  padding: 0;
  
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
form{
  margin: auto;
  width: 100%;
  max-width: 1000px;
  
  padding: -0px;
  border: 0px solid rgba(0,0,0,0);


}

header{
    width: 100%;
    height: 100px;  
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
header a img{
  
    width: 100%;
    height: 100px;
    
    
}
#fondo{
position: absolute;
top:100%;
left:-0%;
width:100%;
height: 150px;
z-index: -1   
 padding: 0px; 

}



.login-box {
  width: 310px;
  height: 410px;
  background: #424256;
  color: #black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -40%);
  box-sizing: border-box;
  padding: 50px 50px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  color: #black;
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  color: #black;
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {

  display: block;
  padding: 10px;
  width: 100%;
  margin: 30px 0;
  font-size: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
background: #33FF7A;
   border: 0;
   color: black;
   opacity: 0.8;
   cursor: pointer;
   border-radius: 20px;
   margin-bottom: 0;
}

.login-box input[type="submit"]:hover {
 opacity: 1;
  
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}
@media (max-width: 480px){
form{
    width: 95%;
  }
  }